.container{
    display: flex;
    flex-direction: column;
    width: 1000px;
    gap: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sinsang{
    font-size: 25px;
    font-weight: 900;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #333333;
}

.all{
    font-size: 14px;
}

.content2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.icon{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rela{
    position: relative;
    cursor: pointer;
}

.image{
    width: 100%;
    height: 250px;
}

.image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fa-solid{
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 40px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 20px;
    font-weight: 700;
}

.name{
    font-size: 13px;
}

.see{
    font-size: 11px;
}

.btn{
    width: 36px;
    height: 22px;
    font-size: 11px;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
}