.palette{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: row;
}

.content{
    width: 150px;
    height: 100px;
    display: flex;
    font-size: 10px;
    color: white;
    justify-content: end;
    align-items: end;
}

.one{
    background-color: #1abc9c;
}

.two{
    background-color: #2ecc71;
}

.three{
    background-color: #3498db;
}

.four{
    background-color: #16a085;
}

.five{
    background-color: #27ae60;
}

.six{
    background-color: #2980b9;
}

.seven{
    background-color: #f1c40f;
}

.eight{
    background-color: #e67e22;
}

.nine{
    background-color: #e74c3c;
}